<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="resource.SearchBucketMapper">
	<!-- 제목검색결과 수 -->
	<select id="totalTitleCnt" parameterType="vo.SearchBucketVO" resultType="int">
		select count(*) from selectedbucket where title like '%'||#{searchKeyword}||'%'
	</select>

	<!-- 제목검색 -->
 	<select id="searchTitle" parameterType="vo.SearchBucketVO"  resultType="vo.BucketVO">
 		select bucket_id, selectedbucket_id, image_path, title, 
 			(select count(*)
			from likeinfo li
			where li.member_id = #{member_id} and li.bucket_id = selectedbucket_id) islike 
 		from (select bi.id bucket_id, sb.id selectedbucket_id, bi.image_path image_path, sb.title title, rownum rnum 
 			from bucketinfo bi, selectedbucket sb 
 			where bi.id = sb.bucket_id and title like '%'||#{searchKeyword}||'%') sb
 		where rnum between #{startRow} and #{endRow}
 	</select>
	
	<!-- 태그검색결과 수 -->
	<select id="totalTagCnt" parameterType="vo.SearchBucketVO" resultType="int">
		select count(*) from selectedbucket where id in (select st.bucket_id from selectedtag st, taginfo ti
		where st.tag_id = ti.id and ti.name = #{searchTag})
	</select>

	<!-- 태그검색 -->
	<select id="searchTag" parameterType="vo.SearchBucketVO"  resultType="vo.BucketVO">
		select bucket_id, selectedbucket_id, image_path, title, 
				(select count(*)
				from likeinfo li
				where li.member_id = #{member_id} and li.bucket_id = selectedbucket_id) islike
		from(select bi.id bucket_id, sb.id selectedbucket_id, 
				bi.image_path image_path, sb.title title, rownum rnum 
			from bucketinfo bi, selectedbucket sb
			where bi.id = sb.bucket_id and sb.id in (select st.bucket_id from selectedtag st, taginfo ti
								where st.tag_id = ti.id and ti.name = #{searchTag})) sb
		 where rnum between #{startRow} and #{endRow}
	</select>
	
	<!-- 태그명 찾기 -->
	<select id="selectTagName" resultType="String">
		select name from taginfo 
	</select>
	
	<!-- 그룹명 찾기 -->
	<select id="selectGroupName" parameterType="String" resultType="String">
		select DISTINCT name 
		from groupinfo gi, selectedbucket sb 
		where gi.id=sb.group_id and gi.member_id=#{member_id} order by name
	</select>
	
	<!-- 블로그리뷰 -->
	
	<!-- 동영상 -->
	
	<!-- 가져오기 -->
	<!-- 가져온 버킷을 selectedbucket에 저장 -->
	<insert id="insertSelectedBucket" parameterType="vo.BucketVO">
		<selectKey resultType="int" keyProperty="selectedbucket_seq.nextval" order="BEFORE">
      		select selectedbucket_seq.nextval from dual     
    	</selectKey> 
		insert into selectedbucket(id,bucket_id,member_id,group_id,title,content,d_day,stat,address,lat,lng) 
			select selectedbucket_seq.nextval, bucket_id,#{member_id},#{group_id},title,content,d_day,stat,address,lat,lng
		from selectedbucket where bucket_id = #{bucket_id}
	</insert>
</mapper>