<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="resource.BucketMapper">
 	<select id="detailBucket"  resultType="vo.BucketDetailVO" parameterType="_int">
		select Sb.id as bucket_id, Sb.title, Sb.content, Sb.lat, Sb.lng, Bi.image_path as bucketImage_path, Bi.cnt as get_cnt
				, Mi.id as by_member_id, Mi.image_path as profileImage_path, Sb.member_id as get_member_id,
				(select count(*)
    				from likeinfo
    				where selectedbucket_id = #{selectedbucket_id}) as like_cnt
    	from bucketinfo Bi, selectedBucket Sb, memberinfo Mi
    	where Bi.id = Sb.bucket_id AND Sb.id =#{selectedbucket_id} AND Mi.id = Bi.member_id
 	</select>
 	<select id="detailADBucket"  resultType="vo.BucketDetailVO" parameterType="_int">
		select Sb.id as bucket_id, Sb.title, Sb.content, Sb.lat, Sb.lng, Bi.image_path as bucketImage_path, Bi.cnt as get_cnt
				, Si.id as by_member_id, Si.image_path as profileImage_path, Sb.member_id as get_member_id,
				(select count(*)
    				from likeinfo
    				where selectedbucket_id = #{selectedbucket_id}) as like_cnt
    	from bucketinfo Bi, selectedBucket Sb, sponsorinfo Si
    	where Bi.id = Sb.bucket_id AND Sb.id = #{selectedbucket_id} AND Si.id = Bi.sponsor_id 
 	</select>
 	<select id="selectTOPBucket" resultType="vo.BucketVO" parameterType="String">
		select Sb.bucket_id , Sb.id as selectedbucket_id, Bi.image_path, Sb.title,
        (select count(*) from likeinfo Li where Sb.id = Li.selectedbucket_id) likecnt, 
        (select count(*) from likeinfo Li where Li.member_id = #{id} and Sb.id = Li.selectedbucket_id) islike
		from bucketinfo Bi, selectedbucket Sb
		where Bi.id = Sb.bucket_id 
        order by likecnt desc
	</select>
	<select id="isADBucket" resultType="String" parameterType="_int">
		select sponsor_id
		from bucketinfo
		where id = #{bucket_id}
	</select>
	<insert id="insertBucket" parameterType="vo.SelectedBucketVO">
	{call
        declare
        begin
            insert into bucketinfo values (bucket_seq.nextval, #{image_path}, #{member_id}, '', 0);
          	insert into selectedbucket 
			values(selectedbucket_seq.nextval, bucket_seq.currval, #{member_id}, #{group_id}, #{title}, #{content}, 
				to_date(#{d_day}, 'yyyy.mm.dd'), '도전중', #{address}, #{lat}, #{lng});
			<foreach item="item" collection="tag_id" open="INSERT ALL"  close="SELECT * FROM DUAL" >
				into selectedtag 
				values(#{item}, selectedbucket_seq.currval)
			</foreach>;
        end
    }
    </insert>
	<insert id="insertBucketInfo" parameterType="vo.SelectedBucketVO">
		insert into bucketinfo values (bucket_seq.nextval, #{image_path}, #{member_id}, '', 0)
	</insert>
	<insert id="insertSelectedBucket" parameterType="vo.SelectedBucketVO">
		insert into selectedbucket 
		values(selectedbucket_seq.nextval, bucket_seq.currval, #{member_id}, #{group_id}, #{title}, #{content}, 
				to_date(#{d_day}, 'yyyy.mm.dd'), '도전중', #{address}, #{lat}, #{lng})
	</insert>
	<insert id="insertSelectedTag" parameterType="java.util.List">
		insert into selectedtag(bucket_id, tag_id)
		select selectedbucket_seq.currval, A.* from(
		 <foreach item="item" collection="list" separator="UNION ALL " >
		   select #{item} as tag_id,
		   from dual
		 </foreach>) A
	</insert>
 	<select id="bucketTags" resultType="list" parameterType="_int">
 		select T.name
 		from taginfo T, selectedtag St
 		where St.bucket_id = #{id} AND T.id = St.tag_id
 	</select>
	<insert id="insertLike" parameterType="vo.LikeInfoVO">
		insert into likeinfo (selectedbucket_id, member_id) 
		values (#{selectedbucket_id}, #{member_id})
	</insert>
	<delete id="deleteLike" parameterType="vo.LikeInfoVO">
		delete 
		from likeinfo
		where selectedbucket_id = #{selectedbucket_id} AND member_id = #{member_id}
	</delete>
</mapper>